.admin-container {
  margin-top: 50px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

.admin-container .landing-container {
  width: 300px;
  height: 240px;
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
}

.admin-container .landing-container a {
  text-decoration: none;
  width: 60px;
  height: 60px;
}

.admin-container .landing-container a:hover {
  text-decoration: underline;
}

.admin-container .box-user {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 600px) {
  .admin-container .box-user {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .admin-container .box-user {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  .admin-container .box-user {
    grid-template-columns: repeat(4, 1fr);
  }
}

.admin-container .box-user ul {
  list-style: none;
  padding: 20px;
  border: 1px solid black;
  margin: 5px;
}

.admin-container .box-user ul li {
  margin: 5px 20px;
}

.admin-container .box-user ul li span {
  font-weight: 700;
}

.admin-container .box-user ul .remove {
  font-weight: 700;
}

.admin-container .box-user ul .remove button {
  color: black;
  cursor: pointer;
  background-color: #f9e8c7;
  border: 1px solid black;
  padding: 5px 10px;
  margin-left: 20px;
}
